body{
	height:97vh;
	font-family:Helvetica;
}

.wcore_menuVisible{
	width:350px;
	transition:width 0.5s ease-out;
	height:100%;
	float:left;
}

.wcore_menuInVisible{
	width:0px;
	transition:width 0.5s ease-in;
	height:100%;
	float:left;
}

.wcore_clientsList{
	background-color:#63cf63;
	overflow: hidden;
}

.wcore_majorOptions{
	background-color:#90E662;
	overflow: hidden;
}

.wcore_minorOptions{
	background-color:#B6DC5E;
	overflow: hidden;
}

.wcore_mainLogo{
	padding:0 50px;
}

.wcore_menuTitle{
	padding:10px 0;
	color:white;
	text-align:center;
	font-size:22pt;
	font-weight:bold;
	border-top:solid white thin;
	border-bottom:solid white thin;
}

/*Recycled from AS Find*/
.wcore_search_bar{
	width: calc(100% - 50px);/*Due to margin*/
	margin: 0px 25px;
	height: 30px;
	padding: 5px 0;
	border-bottom: solid white thin;
}

.wcore_search_bar input{
	border-radius: 20px;
	width: calc(100% - 30px);
	padding:0 15px;
	height:100%;
	border:none;
	font-family: Helvetica;
	font-size:  14pt;
}

.wcore_menu_table{
	display: table;
	width:calc(100% - 140px);/*Padding*/
	height: 50px;
	padding:5px 70px;
}

.wcore_menu_opholder{
	display: table-cell;
	height: 100%;
	width: 50px;
	background-image: url("../IMGs/circle.png");
	background-repeat: no-repeat;
	background-position: center;
}

.wcore_client_icon{
	height: 60px;
	width: 60px;
	margin: 5px 0px;
	float: left;
	background-image: url("../IMGs/client.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.wcore_client_hat{
	height: 60px;
	width: 60px;
	background-image: url("../IMGs/hat.png");
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 0.2s linear;
	transform-origin: 20% 30%;
}

.wcore_client_hat:hover{
	transform: rotate(-20deg);
}

.wcore_client_info{
	margin-left: 60px;
	width: 230px;/*Due to padding*/
	height: 50px;/*Due to padding*/
	padding: 10px 0px;
}

.wcore_client_name{
	width: 100%;
	overflow: hidden;
}

.wcore_client_name_holder{
	margin: 0;
	padding: 0;
	color: white;
    font-size: 16pt;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
}

.wcore_client_name_holder:hover{
	overflow: visible;
	animation-name: flyText;
	animation-duration: 4s;
}

.wcore_client_RFC{
	margin: 0;
	padding: 0;
	color: white;
    font-size: 16pt;
}

.wcore_clientsData{
	height:calc(100% - 265px);
	width:100%;
	margin:0px 20px;
	padding-right:20px;
	overflow-y:auto;
}

/*.wcore_clientsData::-webkit-scrollbar { width: 0 !important }*/

.wcore_clientBox{
	border: white thin dashed;
	width:308px;
}

.wcore_scrollAway{
	padding-right:20px;
	width:100%;
	height:100%;
	overflow-y:auto;
}

.wcore_primCat{
	width:338px;
	height:100px;
	line-height:100px;
	margin: 5px;
	/*padding: 25px 0px;*/
	text-align:center;
	color:#f2f2f2;
	font-size:20pt;
	font-weight:bold;
	border: dashed white thin;
}

#wcore_client_add{
	height: 50px;
	width: 50px;
	margin: 0px 10px;
	background-image: url("../IMGs/add.png");
	background-repeat: no-repeat;
	transition: transform 0.15s linear;
	cursor: pointer;
}

#wcore_client_add:hover{
	transform: rotate(180deg);
}

#wcore_client_edit{
	height: 50px;
	width: 50px;
	margin: 0px 10px;
	background-image: url("../IMGs/edit.png");
	background-repeat: no-repeat;
	cursor: pointer;
}

#wcore_client_edit:hover{
	animation-name: vibrate;
	animation-duration: 0.1s;
	animation-iteration-count: 2;
}

#wcore_client_lid{
	height: 50px;
	width: 50px;
	margin: 0px;
	background-image: url("../IMGs/lid.png");
	background-repeat: no-repeat;
	transform-origin: 50% 30%;
}

#wcore_client_lid:hover{
	animation-name: movelid;
	animation-duration: 0.5s;
}

#wcore_client_bin{
	height: 50px;
	width: 50px;
	margin: 0px 10px;
	background-image: url("../IMGs/bin.png");
	background-repeat: no-repeat;
	cursor: pointer;
}

/*Animations*/
@keyframes vibrate{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(15deg);}
	50%{transform: rotate(0deg);}
	75%{transform: rotate(-15deg);}
	100%{transform: rotate(0deg);}
}

@keyframes movelid{
	0%{transform: translateY(0px);}
	30%{transform: translateY(-3px);}
	40%{transform: rotate(10deg) translateY(-3px);}
	50%{transform: rotate(0deg) translateY(-3px);}
	60%{transform: rotate(-10deg) translateY(-3px);}
	70%{transform: rotate(0deg) translateY(-3px);}
	100%{transform: translateY(0px);}
}

@keyframes flyText{
	0%{transform: translateX(0);}
	95%{transform: translateX(-100%);}
	100%{transform: translateX(0);}
}